.header {
    background-color: black;
    width: 100%;
    height: 50px;
  }
  
.content {
  background-color: #DEDEDE ; 
  width: 100%;
  height: 920px;
}

.content input {
  position: relative;
  top: 30px;
  right: -420px;
  width: 250px;
  height: 25px;
}

.content button {
  position: relative;
  top: 30px;
  right: -440px;
  padding: 4px;
}
  
.footer {
  background-color: black;
  width: 100%;
  height: 80px;
}

.logo {
  background-image: url("TMDB_Logo.png");
  background-repeat: no-repeat;
  height: 65px;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.content ul {
  font-family: sans-serif;
  margin-top: 70px;
  margin-right: 100px;
  margin-left: 50px;
}

.content ul li{
  margin-top: 10px;
}
