.header {
    background-color: black;
    width: 100%;
    height: 50px;
  }
  
.content {
  background-color: #DEDEDE ; 
  width: 100%;
  height: 600px;
}

.content input {
  position: relative;
  top: 30px;
  right: -420px;
  width: 250px;
  height: 25px;
}

.content button {
  position: relative;
  top: 30px;
  right: -440px;
  padding: 4px;
}
  
.footer {
  background-color: black;
  width: 100%;
  height: 80px;
}

.logo {
  background-image: url("TMDB_Logo.png");
  background-repeat: no-repeat;
  height: 65px;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.movieimg img {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  top: 150px;
  left: 50px;
}


